FumbaWS/WebContent/wsdl/TestWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://fumba.me" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://fumba.me" xmlns:intf="http://fumba.me" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://fumba.me" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="retrieveCurrentDate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveCurrentDateResponse">
    <complexType>
     <sequence>
      <element name="retrieveCurrentDateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveCurrentDateResponse">

      <wsdl:part element="impl:retrieveCurrentDateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveCurrentDateRequest">

      <wsdl:part element="impl:retrieveCurrentDate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWebService">

      <wsdl:operation name="retrieveCurrentDate">

         <wsdl:input message="impl:retrieveCurrentDateRequest" name="retrieveCurrentDateRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveCurrentDateResponse" name="retrieveCurrentDateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWebServiceSoapBinding" type="impl:TestWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="retrieveCurrentDate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveCurrentDateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveCurrentDateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWebServiceService">

      <wsdl:port binding="impl:TestWebServiceSoapBinding" name="TestWebService">

         <wsdlsoap:address location="http://localhost:8080/FumbaWS/services/TestWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
